{% extends 'base.html.twig' %}
{% block body %}
    <div class="blog-area-2  margin-bottom-120 mobile-mb-50 tab-mb-80">
        <div class="container">
            <div class="row custom-gutter">

                    <!-- blog-options -->

                        <div class="blog-inner-2 align-items-center "style="padding-left: 10px">
                            <!-- blog-item-2 -->
                            <div class="blog-item-2">

                                    <a><img src="{{ asset('client/img/tableaudedimension.jpg') }}" alt="Bloom Image" style="height:50%" ></a>



                            <!-- blog-item-2 -->

                </div>
                        <!-- bloom-pagination start -->

                        <!-- bloom-pagination end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}